<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700"
    />
    <!-- Material Typography -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/@material/typography/dist/mdc.typography.css"
    />
    <!-- SMUI -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/svelte-material-ui/themes/unity.css"
    />

    %SVELTE_HEAD%
  </head>
  <body>
    %SVELTE_BODY%
  </body>
</html>
