@import "tailwindcss";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";
@import "@skeletonlabs/skeleton/themes/cerberus";

@plugin "@tailwindcss/forms";
@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));
